main {
    font-family: 'Century Gothic', sans-serif;
}

#left {
    width: 20%;
    left: 0px;
    height: 100%;
    background-color: rgb(9, 10, 22);
    position: fixed;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

#right {
    width: 80%;
    right: 0px;
    height: 100%;
    background-color: #B6CCE3;
    position: fixed;
}

.left_side {
    margin: 5%;
    position: relative;
    padding-top: 20px;
}

.right_side {
    margin: 5%;
    background-color: #B6CCE3;
    position: relative;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

hr {
    border-top: 1px solid white;
    ;
}

.inline {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 10px;
    /* background-color: white; */
}

.bar {
    height: 30px;
    width: 60%;
    background-color: aliceblue;
    border-radius: 7px;
    padding: 4px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20%;
}

.amount {
    height: 100%;
    vertical-align: center;
    background-color: #21284E;
    border-radius: 5px;
}

.logo {
    height: 30px;
    width: 30px;
    display: inline;
    margin: 10px;
}

.inline span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    font-weight:bold;
}

.centered {
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: 120%;
    font-weight: 400;
    color: #B6CCE3;
}